{% extends "::base.html.twig" %}


{% block body %}
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>

    {{ form(create_task_form) }}

    <a href="{{ path('task.list') }}">List</a>
{% endblock %}

