{% extends "::base.html.twig" %}


{% block body %}
    <ul>
    {% for message in app.session.flashBag.get('error') %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>

    {{ form(create_task_form) }}

    <a href="{{ path('task.list') }}">List</a>
{% endblock %}

