{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        {% for message in app.session.flashBag.get('error') %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>

    {{ form(update_task_form) }}
{% endblock %}
